{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h2 class="mt-4 mb-4">Create Report</h2>
      <hr>
      <form method='post' action='{{ url_for("generate_report") }}'>
        <div class='form-group'>
          <label for='parkName'>Park Name</label>
          <input type='text' name='parkName' class='form-control'>
        </div>
        <div class='form-group'>
          <label for='state'>State</label>
          <input type='text' name='state' class='form-control'>
        </div>
        <div class='form-group'>
          <label for='yearVisitedStart'>Year Visited (Between)</label>
          <div class='row'>
            <div class='col'>
              <input type='number' name='yearVisitedStart' class='form-control' placeholder='Start Year'>
            </div>
            <div class='col'>
              <input type='number' name='yearVisitedEnd' class='form-control' placeholder='End Year'>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <label for='ratingStart'>Rating (Between)</label>
          <div class='row'>
            <div class='col'>
              <input type='number' step='any' min='0' max='5' name='ratingStart' class='form-control' placeholder='Start Rating'>
            </div>
            <div class='col'>
              <input type='number' step='any' min='0' max='5' name='ratingEnd' class='form-control' placeholder='End Rating'>
            </div>
          </div>
        </div>

        <!-- Limit the grouping options -->
        <div class='form-group'>
          <label for='group_by'>Group By:</label>
          <select name='group_by' class='form-control'>
            <option value='none'>None</option>
            <option value='parkName'>Park Name</option>
            <option value='state'>State</option>
            <option value='yearVisited'>Year Visited</option>
          </select>
        </div>

        <button type='submit' class='btn btn-primary'>Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
