{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-8 mx-auto'>
      <p class="text-left"><a href='{{url_for("index")}}' class="btn btn-primary">Back to the Main Page</a></p>
      <h2 class="mt-4 mb-4">Report Results</h2>
      <hr>
      {% if result %}
        {% if group_by == 'none' %}
          <!-- Display the entire table -->
          <table class="table table-bordered table-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Park Name</th>
                <th scope="col">State</th>
                <th scope="col">Year Visited</th>
                <th scope="col">Rating</th>
                <th scope="col">Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for row in result %}
                <tr>
                  <td>{{ row['parkName'] }}</td>
                  <td>{{ row['state'] }}</td>
                  <td>{{ row['yearVisited'] }}</td>
                  <td>{{ row['rating'] }}</td>
                  <td>{{ row['comments'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <!-- Display grouped results with average rating -->
          <table class="table table-bordered table-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">{{ group_by }}</th>
                <th scope="col">Average Rating</th>
              </tr>
            </thead>
            <tbody>
              {% for row in result %}
                <tr>
                  <td>{{ row[group_by] }}</td>
                  <td>{{ row['avg_rating'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% else %}
        <p>No results found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
