{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit user</h3><hr>
      <form method='post' action='{{url_for("edit_user",lid=datas.logId)}}'>
          <label>Park Name</label>
          <input type='text' name='parkName' required class='form-control' value='{{datas.parkName}}'>
          <label>State</label>
          <input type='text' name='state' required class='form-control' value='{{datas.State}}'>
          <label>Year Visited</label>
          <input type='text' name='yearVisited' required class='form-control' value='{{datas.yearVisited}}'>
          <label>Rating</label>
          <input type='number' step="any" min="0" max="5" name='rating' required class='form-control' value='{{datas.rating}}'>
          <label>Comments</label>
          <input type='text' name='comments' required class='form-control' value='{{datas.comments}}'>
        <input type='submit' value='Submit'>
      </form>
    </div>
  </div>
{% endblock %}